@import "~normalize.css";
@import "./fonts.css";

body {
    background: darkblue;
    font-family: "Sansita One", sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}